{% extends 'base.html' %}
{% block content %}

<h1>Finch List</h1>

{% for finch in finches %}
  <div class="card">
    <a href="{% url 'detail' finch.id %}">
      <div class="card-content">
      <span class="card-title">{{ finch.name }}</span>
      <p>Breed: {{ finch.breed }}</p>
      <p>Description: {{ finch.description }}</p>
      {% if finch.age > 0 %}
        <p>Age: {{ finch.age }}</p>
      {% else %}
        <p>Age: Finchy</p>
      {% endif %}
      {% for feeding in finch.feeding_set.all %}
      <p>Last Fed:</p>
        <tr>
          <p>{% with last_feeding=finch.feeding_set.last %}</p>
          <p>{{last_feeding.date}}</p>
          <p>{{feeding.get_meal_display}}</p>
        </tr>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock %}